@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    --color-dark: hsl(0, 0%, 22%);
    --color-light: hsl(49, 100%, 97%);
    --color-accent: hsl(13, 100%, 68%);
    --color-primary: hsl(110, 43%, 86%);

    font-family: 'inter';
    font-weight: 500;
    font-size: 1rem;

    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0 ;
    overflow-x: hidden;

    color: var(--color-dark);
    background-color: var(--color-light);

    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

svg:hover {
    cursor: pointer;
}

/* MAIN STRUCTURE */
header, footer {
    width: 100vw;

    color: var(--color-primary);
    background-color: var(--color-dark);
    
    display: flex;
    justify-content: center;
}

main {
    width: 100vw;
}

/* CONCRETE ELEMENTS */
h1 {
    font-weight: 800;
    font-size: 3rem;
    margin: 0 0 1.5rem 0.5rem;
}

nav, main div, footer > div {
    width: clamp(50%, 500px, 80vw);
}

    /* Header */
nav {
    padding: 2rem 0 1rem;
    display: flex;
    align-items: center;

    & > div {
        font-size: 2rem;
        font-weight: 700;
    }

    & svg {
        display: none;
    }
}

ul {
    padding: 0;
    margin: 0;
    margin-left: auto;

    display: flex;
    gap: 2rem;
    list-style: none;

}

    /* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* About */
.about {
    height: 20rem;

    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0;
}

.about .image {
    max-width: 40%;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: var(--color-dark) 0.5rem 0.7rem;

    background: url(img/skater-green.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Projects */
.projects {
    margin-bottom: 3rem;
}
.project-grid {
    width: 100%;

    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    grid-auto-rows: minmax(200px, 1fr);

    margin-bottom: 2rem;
    gap: 2.5rem;

}
.project-tile {
    width: 100%;
    position: relative;

    & svg {
        stroke-width: 3;
        color: var(--color-accent);
    }

    & img {
        width: 101%;
        height: 101%;
        object-fit: cover;
        border-radius: 1.2rem;

        filter: grayscale();

        transition: transform 100ms ease-out;

        &:hover {
            cursor: pointer;
            filter: none;
            transform: scale(110%);
        }
    }


}

.info {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 105%;

    box-sizing: border-box;
    padding: 0.5rem 1rem;
    border-radius: 1rem;

    display: flex;
    justify-content: space-between;
    background-color: var(--color-primary);
}

.icons {
    width: auto;
}
    /* Footer */

footer > div {
    display: flex;
    padding: 1rem 0 3rem;
}

.contact-options {
    flex-grow: 1;


    & div {
        display: flex;
        justify-content: space-between;
    }
}

.social {
    flex-grow: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & svg {
        width: 2rem;
        height: 2rem;
    }
}

/*  MEDIA VARIATIONS */
@media (max-width: 500px) {
    nav {
        position: relative;
    }
    nav ul {
        display: none;
        justify-content: center;

        width: 100vw;
        padding: 1rem 0;
        position: absolute;
        left: 50%;
        top: 99%;

        transform: translateX(-50%);

        background-color: var(--color-dark);
        color: var(--color-accent);
    }

    nav svg {
        display: block;
        margin-left: auto;
        height: 2rem;
        width: 2rem;
    }

    .about {
        flex-direction: column;
        height: 30rem;

        & .image {
            background-position-y: -3.5rem;
            max-width: 100%;
        }
    }

    footer > div {
        flex-direction: column;
    }

    .social {
        margin-top: 2rem;
        flex-direction: row;
    }
}

/* ANIMATIONS */

